
### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Dependency directories
node_modules/


# dotenv environment variables file
.env

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

